<!DOCTYPE html>
<html>
<head>
<title>SwimTEC</title>
</head>

<p align="left"><h2>Bienvenid@ a la pagina web del curso de natacion.</h2></p>


<p align="left">En esta pagina usted podra revisar noticias subidas por la profesora.</p>
</html>
