<h1>Formulario</h1>
<p>Por favor complete este formulario. Una vez terminado persione 'Guardar'.</p>
<%= form_for (@form), :url => { :action => 'register'} do |m| %>
	<%= m.hidden_field :user_id, :value => session[:user_id] %>
	<%=  render partial: 'team_form_partial', :locals => {:m => m}  %>
	<%= submit_tag("Guardar") %>
<%end%>