<!DOCTYPE html>
<html>
<head>
<title>SwimTEC</title>
</head>

<p align="left"><h2>Bienvenid@ a la pagina web del curso de natación.</h2></p>


<p align="left">En esta pagina se publicaran los contenidos y noticias del curso.</p>
</html>
