<h1>Comentarios</h1>
<p>Aqui aparecen los comentarios realizados
por la profesora durante el curso de natación. El objetivo es darle continuidad a las clases fuera del horario lectivo.  </p>


 <% @comments.each do |comment| %>
 	<div class='post'>
 	<span class='post_body'><%= comment.description %> </span><br>
 	<span class='post_date'> <%= distance_of_time_in_words(@from_time, comment.updated_at)  %> ago</span><br>
 	</div>
 <% end %>