  <%= link_to "Noticias" , root_path %>
  <%= link_to "Estudiantes" , root_path  %>
  <%= link_to "Grupos" , groups_path %>
  <%= link_to "Rutinas", routines_path %>

  <div id="sign_menu" > 


</div>