<h1>Videos</h1>
  <link href="http://vjs.zencdn.net/6.2.8/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src="http://vjs.zencdn.net/6.2.8/video.js"></script>
<video width="512" height="288" controls="controls">
	<source src='<%= @video.link%>' type="video/mp4" />
</video>
