<%= image_tag 'bg.jpeg', height:'100', :id => "bg" %>
<div class="outer_frame">
  <div class="middle_frame">
     <div class ="login">
      <%= image_tag 'logo.png', height:'50', class:'logo'%>
      <div class='form_container'>

<h1>Pendiente de Aceptacion</h1>
<p>La profesora debe aceptar su nueva cuenta en función de los datos porporcionados.</p>
<p>Recibirá un correo electronico a su dirección de email cuando haya sido aceptado.</p>

      </div>

    </div>
  </div>
</div>