<!DOCTYPE html>
<html>
  <head>
    <title>SwimTEC | Acceso </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'login' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Arvo|PT+Sans" rel="stylesheet">
  </head>

  <body>

    <%= yield %>

  </body>
</html>